<configuration scan="true" scanPeriod="10 seconds">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>
    
    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/ims.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/cims.log.%d{yyyy-MM-dd}.txt.gz</fileNamePattern>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{}] [%-5p] %c{1}:%L - %m%n</Pattern>
            </layout>
        </encoder>
    </appender>
    
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.S} [%X{}] %highlight([%-5p]) %magenta(%c{1}:%L) - %m%n
            </Pattern>
        </layout>
    </appender>

    
<!--    <root level="INFO">
        <appender-ref ref="LOGFILE" />
    </root>-->
    
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
    
</configuration>
